<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="../../../../lib/phpunit/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Assign Submission Timed Online Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
                <directory suffix=".php">lang</directory>
                <file>settings.php</file>
                <file>version.php</file>
         </exclude>
        </whitelist>

    </filter>
</phpunit>
